@use 'variables' as *;

// Responsive Mixins
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin wide {
  @media (min-width: $breakpoint-wide) {
    @content;
  }
}

// Container
@mixin container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;

  @include mobile {
    padding: 0 1rem;
  }
}

// Flexbox helpers
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Typography
@mixin heading($size: 1.5rem, $weight: 700) {
  font-size: $size;
  font-weight: $weight;
  line-height: 1.2;
  color: $text-color;
}

// Focus styles
@mixin focus-ring($color: $primary-color) {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($color, 0.3);
  }
}

