@use '@styles/variables' as *;

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  &__pokeball {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 1s linear infinite;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }

  &__pokeball-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: $primary-color;
    border-radius: 60px 60px 0 0;
  }

  &__pokeball-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: $white;
    border-radius: 0 0 60px 60px;
  }

  &__pokeball-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: $white;
    border: 4px solid $text-color;
    border-radius: 50%;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background: $text-color;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -100%;
      transform: translateY(-50%);
      width: 300%;
      height: 4px;
      background: $text-color;
      z-index: -1;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

